<h2>Vehicles</h2>
<p>
  <a [routerLink]="['/vehicles/new']" class="btn btn-primary">New Vehicle</a>
</p>
<div class="well">
  <div class="form-group">
    <label for="make">Make</label>
    <select id="make" class="form-control" [(ngModel)]="query.makeId" (change)="onFilterChange()">
      <option value=""></option>
      <option *ngFor="let m of makes" value="{{ m.id }}">{{ m.name }}</option>
    </select>
  </div>
  <p>
    <a class="btn btn-primary" (click)="resetFilter()" style="color: white;">Reset</a>
  </p>
</div>
<table class="table">
  <thead>
    <tr>
      <th (click)="sortBy('id')">Id</th>
      <th (click)="sortBy('make')">Make</th>
      <th (click)="sortBy('model')">Model</th>
      <th (click)="sortBy('contactName')">Contact Name</th>
      <th></th>
    </tr>
  </thead>
  <tr *ngFor="let vehicle of vehicles">
    <td>{{ vehicle.id }}</td>
    <td>{{ vehicle.make.name }}</td>
    <td>{{ vehicle.model.name }}</td>
    <td>{{ vehicle.contact.name }}</td>
    <td><a [routerLink]="['/vehicles/' + vehicle.id]" class="btn btn-primary">View</a></td>
  </tr>
</table>
